#datetime-picker {
  font-weight: 600;
  border: 1px solid rgb(212, 212, 212);
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 2.5rem;
  font-weight: 700;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
}
